# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Flutter backup
*_flutter/
*_flutter.yaml
!.flutter-plugins.bak
!.flutter-plugins-dependencies.bak
!.metadata.bak

# Vercel
.vercel
